name: Checks
permissions: {}

on:
  push:
  pull_request:

jobs:
  lint:
    name: Linters
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - run: shellcheck terraform-target
  tests:
    name: Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        terraform_version:
          - 1.0.11
          - 1.1.9
          - 1.2.9
          - 1.3.9
          - 1.4.6
    env:
      TERRAFORM_VERSION: ${{ matrix.terraform_version }}
    steps:
      - uses: actions/checkout@main
      - run: |
          TERRAFORM_URL="https://releases.hashicorp.com/terraform/${TERRAFORM_VERSION}/terraform_${TERRAFORM_VERSION}_linux_amd64.zip"
          curl -s "${TERRAFORM_URL}" --output "terraform-$TERRAFORM_VERSION.zip"
          sudo unzip -q "terraform-$TERRAFORM_VERSION.zip" -d ./tests
      - run: |
          git submodule add https://github.com/bats-core/bats-core.git test/bats
          git submodule add https://github.com/bats-core/bats-support.git test/test_helper/bats-support
          git submodule add https://github.com/bats-core/bats-assert.git test/test_helper/bats-assert
      - run: ./test/bats/bin/bats tests
